{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container">
   <h1 class="text-center mt-4">Genres</h1>

    <div class="row justify-content-lg-center">
        {% for genre in Genres %}
        <div class="col col-lg-3">
            <a href="{{ path('Genres', {'id': genre.id}) }}">{{ genre.name }}</a>
        </div>
        {% endfor %}
        <div class="text-left mt-4">
            <a href="#"></a>
        </div>
    </div>

</div>
{% endblock %}
